body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* To handle wrapping on small screens */
    background-color: #444;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #ff6347; /* Tomato color for hover effect */
    color: #fff;
}

/* Form Section Styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

form h3 {
    width: 100%;
    font-size: 20px;
    color: #0073e6;
    border-bottom: 2px solid #0073e6;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 50px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.participant {
    width: 48%;
    background-color: #f9f9f9;
    padding: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 50px 6px rgba(0, 0, 0, 0.1);
}

.participant:nth-child(odd) {
    background-color: #ffffff;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #005bb5;
}

/* Responsive Design for Participants */
@media (max-width: 768px) {
    .participant {
        width: 100%;
    }
}
